<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">

    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2 class="info"> <%= err %> </h2>
        </div>
        <form id="form" class="form" action="/api/login" method="POST">
            <div class="form-control">
                <img class="fas fa-check-circle" src="../svg/check-circle.svg" alt="">
                <img class="fas fa-exclamation-circle" src="../svg/exclamation-circle.svg" alt="">
                <input type="text" placeholder="Username" name="username" id="username" minlength="3" required />
            </div>
            <div class="form-control">
                <img class="fas fa-check-circle" src="../svg/check-circle.svg" alt="">
                <img class="fas fa-exclamation-circle" src="../svg/exclamation-circle.svg" alt="">
                <input type="password" placeholder="Password" name="password" id="password"  maxlength="20"required />
            </div>
            
            <button id="submitBtn" type="submit" >Login</button>
        </form>
    </div>

    <script defer src="../js/login.js"></script>
</body>

</html>