<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Description" content="register page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/register.css">

    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2 class="info"> <%= err %> </h2>
        </div>
        <form id="form" class="form" action="/api/register" method="POST">
            <div class="form-control">

                <label for="username">
                    <div class="label-name">Username</div>
                    <img class="icon fas fa-check-circle" src="../svg/check-circle.svg" alt="">
                    <img class="icon fas fa-exclamation-circle" src="../svg/exclamation-circle.svg" alt="">
                </label>
                <input type="text" placeholder="Username" name="username" id="username" minlength="3" required />
            </div>
            <div class="form-control">

                <label for="password">
                    <div class="label-name">Password</div>
                    <img class="icon fas fa-check-circle" src="../svg/check-circle.svg" alt="">
                    <img class=" icon fas fa-exclamation-circle" src="../svg/exclamation-circle.svg" alt="">
                </label>
                <input type="password" placeholder="Password" name="password" id="password" maxlength="20" required />
            </div>
            <div class="form-control">

                <label for="password2">
                    <div class="label-name">Confirm Password</div>
                    <img class="icon fas fa-check-circle" src="../svg/check-circle.svg" alt="">
                    <img class="icon fas fa-exclamation-circle" src="../svg/exclamation-circle.svg" alt="">
                </label>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="password2"
                    maxlength="20" required />
            </div>
            <button id="submitBtn" type="submit" disabled>Submit</button>

        </form>
    </div>

    <script async src="../js/register.js"></script>
</body>

</html>